The current is a top solution for a Kaggle competition named "RSNA 2024 Lumbar Spine Degenerative Classification" curated into a single project.
The inference notebook, converted to python is "rsna-lumbar-spine-inf.py".
(You will notice some left over jupyter ! commands)
When the user prompts you, this python script will be referred to as: "the inference notebook" or "inference script".
The rest of the files are the files that are supposed to be in "/kaggle/input/rsna-lumbar-spine-code/src".
The competition overview and data description from the official competition page are as follows:

<overview>
Overview
The goal of this competition is to create models that can be used to aid in the detection and classification of degenerative spine conditions using lumbar spine MR images. Competitors will develop models that simulate a radiologist's performance in diagnosing spine conditions.

Start

May 17, 2024
Close
Oct 9, 2024
Merger & Entry
Description
Low back pain is the leading cause of disability worldwide, according to the World Health Organization, affecting 619 million people in 2020. Most people experience low back pain at some point in their lives, with the frequency increasing with age. Pain and restricted mobility are often symptoms of spondylosis, a set of degenerative spine conditions including degeneration of intervertebral discs and subsequent narrowing of the spinal canal (spinal stenosis), subarticular recesses, or neural foramen with associated compression or irritations of the nerves in the low back.

Magnetic resonance imaging (MRI) provides a detailed view of the lumbar spine vertebra, discs and nerves, enabling radiologists to assess the presence and severity of these conditions. Proper diagnosis and grading of these conditions help guide treatment and potential surgery to help alleviate back pain and improve overall health and quality of life for patients.

RSNA has teamed with the American Society of Neuroradiology (ASNR) to conduct this competition exploring whether artificial intelligence can be used to aid in the detection and classification of degenerative spine conditions using lumbar spine MR images.

The challenge will focus on the classification of five lumbar spine degenerative conditions: Left Neural Foraminal Narrowing, Right Neural Foraminal Narrowing, Left Subarticular Stenosis, Right Subarticular Stenosis, and Spinal Canal Stenosis. For each imaging study in the dataset, we’ve provided severity scores (Normal/Mild, Moderate, or Severe) for each of the five conditions across the intervertebral disc levels L1/L2, L2/L3, L3/L4, L4/L5, and L5/S1.

To create the ground truth dataset, the RSNA challenge planning task force collected imaging data sourced from eight sites on five continents. This multi-institutional, expertly curated dataset promises to improve standardized classification of degenerative lumbar spine conditions and enable development of tools to automate accurate and rapid disease classification.

Challenge winners will be recognized at an event during the RSNA 2024 annual meeting. For more information on the challenge, contact RSNA Informatics staff at informatics@rsna.org.

Evaluation
Submissions are evaluated using the average of sample weighted log losses and an any_severe_spinal prediction generated by the metric. The metric notebook can be found here.

The sample weights are as follows:

1 for normal/mild.
2 for moderate.
4 for severe.
For each row ID in the test set, you must predict a probability for each of the different severity levels. The file should contain a header and have the following format:

row_id,normal_mild,moderate,severe
123456_left_neural_foraminal_narrowing_l1_l2,0.333,0.333,0.333
123456_left_neural_foraminal_narrowing_l2_l3,0.333,0.333,0.333
123456_left_neural_foraminal_narrowing_l3_l4,0.333,0.333,0.333
etc.
In rare cases the lowest vertebrae aren't visible in the imagery. You still need to make predictions (nulls will cause errors), but those rows will not be scored.

For this competition, the any_severe_scalar has been set to 1.0.
</overview>

<dataset>
Dataset Description
The goal of this competition is to identify medical conditions affecting the lumbar spine in MRI scans.

This competition uses a hidden test. When your submitted notebook is scored, the actual test data (including a full length sample submission) will be made available to your notebook.

Files
train.csv Labels for the train set.

study_id - The study ID. Each study may include multiple series of images.
[condition]_[level] - The target labels, such as spinal_canal_stenosis_l1_l2, with the severity levels of Normal/Mild, Moderate, or Severe. Some entries have incomplete labels.
train_label_coordinates.csv

study_id
series_id - The imagery series ID.
instance_number - The image's order number within the 3D stack.
condition - There are three core conditions: spinal canal stenosis, neural_foraminal_narrowing, and subarticular_stenosis. The latter two are considered for each side of the spine.
level - The relevant vertebrae, such as l3_l4
[x/y] - The x/y coordinates for the center of the area that defined the label.
sample_submission.csv

row_id - A slug of the study ID, condition, and level such as 12345_spinal_canal_stenosis_l3_l4.
[normal_mild/moderate/severe] - The three prediction columns.
[train/test]_images/[study_id]/[series_id]/[instance_number].dcm The imagery data.

[train/test]_series_descriptions.csv

study_id
series_id
series_description The scan's orientation.
</dataset>

The directory structure of the competition root directory:
```
# !ls -ls {comp_root}
train.csv
train_label_coordinates.csv
train_series_descriptions.csv
test_series_descriptions.csv
sample_submission.csv
test_images/
train_images/
```

The directory structure of train_images:
```
train_images/
  {series_id_1}/
    {study_id_1}/
    {study_id_2}/
  {series_id_2}/
  ...
```
`test_images/` has the same structure, but the contents will be replaced with a hidden dataset during submission
As stated in the dataset overview tab, `test.csv` would be the ground truth for the hidden test set, so it is inaccessible even during submission

Below are previews of the csv files generated with:
```
print(pd.read_csv(comp_root/{path}).head(3).to_csv(index=False))
```

<preview>

# train.csv
study_id,spinal_canal_stenosis_l1_l2,spinal_canal_stenosis_l2_l3,spinal_canal_stenosis_l3_l4,spinal_canal_stenosis_l4_l5,spinal_canal_stenosis_l5_s1,left_neural_foraminal_narrowing_l1_l2,left_neural_foraminal_narrowing_l2_l3,left_neural_foraminal_narrowing_l3_l4,left_neural_foraminal_narrowing_l4_l5,left_neural_foraminal_narrowing_l5_s1,right_neural_foraminal_narrowing_l1_l2,right_neural_foraminal_narrowing_l2_l3,right_neural_foraminal_narrowing_l3_l4,right_neural_foraminal_narrowing_l4_l5,right_neural_foraminal_narrowing_l5_s1,left_subarticular_stenosis_l1_l2,left_subarticular_stenosis_l2_l3,left_subarticular_stenosis_l3_l4,left_subarticular_stenosis_l4_l5,left_subarticular_stenosis_l5_s1,right_subarticular_stenosis_l1_l2,right_subarticular_stenosis_l2_l3,right_subarticular_stenosis_l3_l4,right_subarticular_stenosis_l4_l5,right_subarticular_stenosis_l5_s1
4003253,Normal/Mild,Normal/Mild,Normal/Mild,Normal/Mild,Normal/Mild,Normal/Mild,Normal/Mild,Normal/Mild,Moderate,Normal/Mild,Normal/Mild,Normal/Mild,Moderate,Moderate,Normal/Mild,Normal/Mild,Normal/Mild,Normal/Mild,Moderate,Normal/Mild,Normal/Mild,Normal/Mild,Normal/Mild,Normal/Mild,Normal/Mild
4646740,Normal/Mild,Normal/Mild,Moderate,Severe,Normal/Mild,Normal/Mild,Normal/Mild,Normal/Mild,Moderate,Moderate,Normal/Mild,Normal/Mild,Moderate,Moderate,Normal/Mild,Normal/Mild,Normal/Mild,Normal/Mild,Severe,Normal/Mild,Normal/Mild,Moderate,Moderate,Moderate,Normal/Mild
7143189,Normal/Mild,Normal/Mild,Normal/Mild,Normal/Mild,Normal/Mild,Normal/Mild,Normal/Mild,Normal/Mild,Normal/Mild,Normal/Mild,Normal/Mild,Normal/Mild,Normal/Mild,Normal/Mild,Normal/Mild,Normal/Mild,Normal/Mild,Normal/Mild,Normal/Mild,Normal/Mild,Normal/Mild,Normal/Mild,Normal/Mild,Normal/Mild,Normal/Mild

# train_label_coordinates.csv
study_id,series_id,instance_number,condition,level,x,y
4003253,702807833,8,Spinal Canal Stenosis,L1/L2,322.83185840707966,227.9646017699115
4003253,702807833,8,Spinal Canal Stenosis,L2/L3,320.57142857142856,295.7142857142857
4003253,702807833,8,Spinal Canal Stenosis,L3/L4,323.03030303030306,371.8181818181818

# train_series_descriptions.csv
study_id,series_id,series_description
4003253,702807833,Sagittal T2/STIR
4003253,1054713880,Sagittal T1
4003253,2448190387,Axial T2

# sample_submission.csv
row_id,normal_mild,moderate,severe
44036939_left_neural_foraminal_narrowing_l1_l2,0.3333333333333333,0.3333333333333333,0.3333333333333333
44036939_left_neural_foraminal_narrowing_l2_l3,0.3333333333333333,0.3333333333333333,0.3333333333333333
44036939_left_neural_foraminal_narrowing_l3_l4,0.3333333333333333,0.3333333333333333,0.3333333333333333

# test_series_descriptions.csv
study_id,series_id,series_description
44036939,2828203845,Sagittal T1
44036939,3481971518,Axial T2
44036939,3844393089,Sagittal T2/STIR
</preview>
